html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, #ffe0e9, #fff);
}

.container {
  min-height: 100vh;      
  padding: 30px 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-img {
  width: 100%;
  max-width: 320px;
  border-radius: 15px;
  margin: 20px 0;
}

.video {
  width: 100%;
  max-width: 320px;
  border-radius: 10px;
}

.result-img {
  width: 100%;
  max-width: 270px;
  height: auto;
  margin: 20px auto;
  display: block;
}

.slideshow {
  width: 100%;
  max-width: 260px;
  margin: 20px auto;
  position: relative;
}

.slide {
  width: 100%;
  display: none;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.slide.active {
  display: block;
}


button {
  padding: 15px 25px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  background: #ff4d6d;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}
